.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
  background-color: #fafafa;
}

.bar {
  width: 100%;
  height: 5.938rem;
  background-color: white;
  border-radius: 6px;
  border: 1px solid white;
}

.navbar {
  width: 50%;
  height: 5.938rem;
  display: flex;
  flex-direction: row;
 padding-left: 6.25rem;
 margin: 0 0 2.375rem;
 padding: 1.438rem 6.188rem 1.688rem 6.25rem;
}

.navbar > h1 {
  width: 40rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-family: Montserrat;
  font-size: 1.875rem;
  color: #0290ff;
}

.navbar > ul {
  width: 60%;
  display: flex;
  flex-direction: row;
  list-style: none;
}

#book{
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: Montserrat;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: #121212;
}

#categ{
  width: 6.563rem;
  height: 1rem;
  margin: 1.125rem 41.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: #121212;
}

.navbar > span {
  width: 2.813rem;
  height: 1rem;
  margin: 0 0 0 41.5rem;
  padding: 0.875rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
}

.profile {
  color: #0290ff;
}

/* books styling */

.chart {
  width: 92%;
  position: relative;
  left: 3%;
  border-radius: 10px;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.books {
  width: 92%;
  height: auto;
  position: relative;
  left: 3%;
  border-radius: 10px;
  margin-top: 30px;
}

.book {
  width: 100%;
  height: 10.625rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  margin-bottom: 20px;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.first {
  width: 52%;
}

.first > h2 {
  height: 1.125rem;
  opacity: 0.5;
  font-size: 1.075rem;
  font-weight: bold;
  margin-top: 30px;
  color: #121212;
}

.Title {
  height: 1.813rem;
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: 0.2px;
  margin-top: -10px;
  color: #121212;
}

.Suzanne-Collins {
  height: 1.188rem;
  font-size: 1.075rem;
  font-weight: 300;
  margin-top: -9px;
  color: #4386bf;
}

form > button {
  border-radius: 10px;
  border-color: white;
  width: 13%;
  background-color: rgb(76, 76, 241);
  color: white;
}

.btn > button {
  width: 4.563rem;
  height: 1.188rem;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  margin-left: -9px;
  background-color: #fff;
  border-color: #fff;
  border: #fff;
}

.end {
  width: 48%;
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.span {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding-top: 30px;
}

.span > div {
  padding-top: 20px;
}

.span > div > span {
  font-size: 2rem;
  color: #121212;
  width: 4.25rem;
}

.update > h3 {
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 5.375rem 0 3.688rem;
  opacity: 0.5;
  font-size: 0.813rem;
  font-weight: 300;
  color: #121212;
}

.span > div > h3 {
  color: #9c9c9c;
  margin-top: -1px;
}

.blue {
  width: 100px;
  height: 100px;
  color: blue;
}

.update {
  border-left: 2px solid #cfcdcd;
  margin-top: 30px;
  margin-bottom: 30px;
}

.update > h2 {
  width: 4.688rem;
  height: 1.313rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #121212;
}

.update > button {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: #fff;
  border-color: #fff;
}

.book > button {
  border-radius: 10px;
  border-color: white;
  width: 13%;
  height: 40px;
  background-color: rgb(76, 76, 241);
  color: white;
}

.form {
  width: 94%;
  position: relative;
  left: 3%;
  margin-top: 50px;
  padding-bottom: 100px;
}

form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 2%;
}

input {
  height: 40px;
  width: 42%;
  border-radius: 10px;
  border-color: white;
  padding-left: 8px;
  outline: none;
}

input:focus-within {
  border: 2px solid blue;
}

/* categoriiess */

.check {
  border-radius: 10px;
  border-color: white;
  width: 13%;
  height: 40px;
  background-color: rgb(76, 76, 241);
  color: white;
  margin: 50px 43%;
}

.cat > div {
  width: 20%;
  margin: 20% 40%;
  padding-bottom: 100px;
}

.cat > div > h1 {
  background-color: white;
  height: 40px;
}
