.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
  background-color: #8888;
}

.bar {
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid white;
  box-shadow: 5px 10px 18px 5px #888;
}

.navbar {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.navbar > h1 {
  position: relative;
  top: -10px;
  font-size: 45px;
  color: blue;
  font-weight: 600;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  padding-top: 30px;
}

.navbar > ul > li {
  font-size: 22px;
  font-weight: 600;
}

.navbar>span{
  width: 40px;
  height: 40px;
  position: relative;
  left: 99%;
  margin-top: 40px;
  border-radius: 50%;
  border: 1.5px solid #888;
}

.profile {
  position: relative;
  left: 12px;
  top: 12px;
  color: blue;
}

/* books styling */

.chart {
  width: 92%;
  position: relative;
  left: 3%;
  border-radius: 10px;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.books {
  width: 92%;
  height: auto;
  position: relative;
  left: 3%;
  border-radius: 10px;
  margin-top: 30px;
}

.book {
  width: 100%;
  height: 10.625rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.first{
  width: 52%;
}

.first>h2{
    height: 1.125rem;
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 1.075rem;
    font-weight: bold;
    margin-top: 30px;
    color: #121212;
}

.Title {
  height: 1.813rem;
  font-family: RobotoSlab;
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: 0.2px;
  margin-top: -10px;
  color: #121212;
}

.Suzanne-Collins {
  height: 1.188rem;
  font-family: RobotoSlab;
  font-size: 1.075rem;
  font-weight: 300;
  margin-top: -9px;
  color: #4386bf;
}

.btn>button {
  width: 4.563rem;
  height: 1.188rem;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
  margin-left: -9px;
  background-color: #ffffff;
  border-color: #ffffff;
  border: #ffffff;
}

.end{
  width: 48%;
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.span{
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding-top: 30px;
}

.span>div{
  padding-top: 20px;
}

.span>div>span{
  font-size: 2rem;
  color: #121212;
  width: 4.25rem;
}

.span>div>h3{
  color: #9c9c9c;
  margin-top: -1px;
}

.blue {
  width: 100px;
  height: 100px;
  color: blue;
}

.update{
  border-left: 2px solid #cfcdcd;
  margin-top: 30px;
  margin-bottom: 30px;
}

.update>h3{
  width: 7.875rem;
  height: 1.125rem;
  margin: 0.063rem 5.375rem 0 3.688rem;
  opacity: 0.5;
  font-family: RobotoSlab;
  font-size: 0.813rem;
  /* margin-top: 30px; */
  font-weight: 300;
  color: #121212;
}

.update>h2{
  width: 4.688rem;
  height: 1.313rem;
  font-family: RobotoSlab;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #121212;
}

.update>button{
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: #ffffff;
  border-color: #ffffff;
}

form > button {
  border-radius: 10px;
  border-color: white;
  width: 13%;
  background-color: rgb(76, 76, 241);
  color: white;
}

.book > button {
  border-radius: 10px;
  border-color: white;
  width: 13%;
  height: 40px;
  background-color: rgb(76, 76, 241);
  color: white;
}

.form {
  width: 94%;
  position: relative;
  left: 3%;
  margin-top: 50px;
  padding-bottom: 100px;
}

form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 2%;
}

input {
  height: 40px;
  width: 42%;
  border-radius: 10px;
  border-color: white;
  padding-left: 8px;
  outline: none;
}

input:focus-within {
  border: 2px solid blue;
}

/* categoriies */

.check {
  border-radius: 10px;
  border-color: white;
  width: 13%;
  height: 40px;
  background-color: rgb(76, 76, 241);
  color: white;
  margin: 50px 43%;
}

.cat > div {
  width: 20%;
  margin: 20% 40%;
  padding-bottom: 100px;
}

.cat > div > h1 {
  background-color: white;
  height: 40px;
}
