.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.bar {
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid white;
  box-shadow: 5px 10px 18px 5px #888;
}

.navbar {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.navbar > h1 {
  position: relative;
  top: -10px;
  font-size: 45px;
  color: blue;
  font-weight: 600;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  padding-top: 30px;
}

.navbar > ul > li {
  font-size: 22px;
  font-weight: 600;
}
