.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
  background-color: #8888;
}

.bar {
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid white;
  box-shadow: 5px 10px 18px 5px #888;
}

.navbar {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.navbar > h1 {
  position: relative;
  top: -10px;
  font-size: 45px;
  color: blue;
  font-weight: 600;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  padding-top: 30px;
}

.navbar > ul > li {
  font-size: 22px;
  font-weight: 600;
}

.profile {
  color: blue;
}

/* books styling */

.chart {
  width: 92%;
  position: relative;
  left: 3%;
  border-radius: 10px;
  height: 2px;
  background-color: rgb(255, 255, 255);
}

.books {
  width: 92%;
  height: auto;
  position: relative;
  left: 3%;
  border-radius: 10px;
  margin-top: 30px;
}

.book {
  width: 100%;
  height: 10.625rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.first{
  width: 52%;
  border-right: 4px solid black;
}

.first>h2{
    width: 3.063rem;
    height: 1.125rem;
    margin: 0 2.438rem 0 0;
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #121212;
}

.Title {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-family: RobotoSlab;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.Suzanne-Collins {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.btn>button {
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  background-color: #ffffff;
  border-color: #ffffff;
}

.end{
  width: 48%;
  display: flex;
  flex-direction: row;
  gap: 10%;
}

.span{
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding-top: 30px;
}

.span>div{
  padding-top: 20px;
}

.span>div>span{
  font-size: 2rem;
  color: #121212;
  width: 4.25rem;
}

.span>div>h3{
  color: #9c9c9c;
  margin-top: -1px;
}
.blue {
  width: 100px;
  height: 100px;
  color: blue;
}

form > button {
  border-radius: 10px;
  border-color: white;
  width: 13%;
  background-color: rgb(76, 76, 241);
  color: white;
}

.book > button {
  border-radius: 10px;
  border-color: white;
  width: 13%;
  height: 40px;
  background-color: rgb(76, 76, 241);
  color: white;
}

.form {
  width: 94%;
  position: relative;
  left: 3%;
  margin-top: 50px;
  padding-bottom: 100px;
}

form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 2%;
}

input {
  height: 40px;
  width: 42%;
  border-radius: 10px;
  border-color: white;
  padding-left: 8px;
  outline: none;
}

input:focus-within {
  border: 2px solid blue;
}

/* categoriies */

.check {
  border-radius: 10px;
  border-color: white;
  width: 13%;
  height: 40px;
  background-color: rgb(76, 76, 241);
  color: white;
  margin: 50px 43%;
}

.cat > div {
  width: 20%;
  margin: 20% 40%;
  padding-bottom: 100px;
}

.cat > div > h1 {
  background-color: white;
  height: 40px;
}
