.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
  background-color: #88888888;
}

.bar {
  width: 100%;
  height: 100px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid white;
  box-shadow: 5px 10px 18px 5px #888;
}

.navbar {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: row;
  padding-left: 50px;
}

.navbar > h1 {
  position: relative;
  top: -10px;
  font-size: 45px;
  color: blue;
  font-weight: 600;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  padding-top: 30px;
}

.navbar > ul > li {
  font-size: 22px;
  font-weight: 600;
}

/* books styling */
.books{
  width: 94%;
  height: auto;
  position: relative;
  left: 3%;
  border-radius: 10px;
}

.book{
  width: 100%;
  height: 150px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: white;
  padding-left: 30px;
}

.form{
  width: 94%;
  position: relative;
  left: 3%;
  margin-top: 50px;
  padding-bottom: 100px;
}

form{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 5%;
}

input{
  height: 40px;
  width: 40%;
  border-radius: 10px;
  border-color: white;
  padding-left: 8px;
}
